<!-- <p>navbar works!</p> -->

<div class="navbar">
  <!-- <i class='bx bx-menu'></i> -->
  <div class="logo">
    <a class="navbar-brand" routerLink="">
      <img src="assets/images/i2e-Logo_RGB-for-digital-use-1.png" alt="i2e Logo" width="60px">
    </a>
  </div>
  <div class="nav-links">
    
      <button mat-button [matMenuTriggerFor]="Industries_menu"> 
        Industries
      </button> 
      
      <mat-menu #Industries_menu="matMenu"> 
        <button mat-menu-item [matMenuTriggerFor]="LifeScience_menu">Life Science</button> 
        <mat-menu #LifeScience_menu="matMenu"> 
          <button mat-menu-item [matMenuTriggerFor]="Portfolio_menu">Portfolio Strategy</button>
            <mat-menu #Portfolio_menu="matMenu"> 
              <button mat-menu-item>PPM Consulting</button>
              <button mat-menu-item>Portfolio Analytics</button>
            </mat-menu> 
          <button mat-menu-item [matMenuTriggerFor]="RandD_menu">R&D</button>
          <mat-menu #RandD_menu="matMenu"> 
            <button mat-menu-item>Drug Discovery</button>
            <button mat-menu-item>Clinical Data Management</button>
            <button mat-menu-item>Business Research</button>
            <button mat-menu-item>Business Development and Licensing</button>
            <button mat-menu-item>Medical Affairs</button>
            <button mat-menu-item>Pharmacovigilance</button>
          </mat-menu> 
          <button mat-menu-item [matMenuTriggerFor]="Manufacturing_menu">Manufacturing</button>
          <mat-menu #Manufacturing_menu="matMenu"> 
            <button mat-menu-item>Global Clinical Ops</button>
            <button mat-menu-item>Supply Chain transformation </button>
            <button mat-menu-item>Inventory Optimization</button>
          </mat-menu> 
          <button mat-menu-item [matMenuTriggerFor]="Launch_menu">Launch & Commercialization</button>
          <mat-menu #Launch_menu="matMenu"> 
            <button mat-menu-item>Launch Readiness</button>
            <button mat-menu-item>Commercial Analytics </button>
            <button mat-menu-item>Forecasting</button>
            <button mat-menu-item>Marketing and Digital Services</button>
            <button mat-menu-item>Sales Analytics</button>
          </mat-menu>
        </mat-menu> 
        <button mat-menu-item [matMenuTriggerFor]="BioTech_menu">BioTech</button> 
        <mat-menu #BioTech_menu="matMenu"> 
        <button mat-menu-item [matMenuTriggerFor]="PortfolioB_menu">Portfolio Strategy</button>
            <mat-menu #PortfolioB_menu="matMenu"> 
              <button mat-menu-item>PPM Consulting</button>
              <button mat-menu-item>Portfolio Analytics</button>
            </mat-menu> 
          <button mat-menu-item [matMenuTriggerFor]="RandDB_menu">R&D</button>
          <mat-menu #RandDB_menu="matMenu"> 
            <button mat-menu-item>Drug Discovery</button>
            <button mat-menu-item>Clinical Data Management</button>
            <button mat-menu-item>Business Research</button>
            <button mat-menu-item>Business Development and Licensing</button>
            <button mat-menu-item>Medical Affairs</button>
            <button mat-menu-item>Pharmacovigilance</button>
          </mat-menu> 
          <button mat-menu-item>In licensing/Out licensing</button>
          <button mat-menu-item>Business Research</button>
          <button mat-menu-item>Pipeline Product Forecast</button>
        </mat-menu> 
      </mat-menu> 
      <button mat-button [matMenuTriggerFor]="Solution_menu"> 
        Solution
      </button> 
      
      <mat-menu #Solution_menu="matMenu"> 
        <button mat-menu-item>R&D</button> 
        <button mat-menu-item routerLink="solutions/commercial">Commercial</button> 
      </mat-menu> 
      <button mat-button [matMenuTriggerFor]="Technologies_menu"> 
        Technologies
      </button> 
      
      <mat-menu #Technologies_menu="matMenu"> 
        <button mat-menu-item>PPM</button> 
        <button mat-menu-item>AI/ML</button> 
        <button mat-menu-item>Cloud</button> 
        <button mat-menu-item>Big Data </button> 
        <button mat-menu-item>Data engineering </button> 
      </mat-menu> 
     
      <button mat-button [matMenuTriggerFor]="Partners_menu"> 
        Partners
      </button> 
      
      <mat-menu #Partners_menu="matMenu"> 
        <button mat-menu-item>Partners</button> 
        <button mat-menu-item>Why partner with us?</button> 
      </mat-menu> 
      <button mat-button [matMenuTriggerFor]="Resource_menu"> 
        Resource Center
      </button> 
      
      <mat-menu #Resource_menu="matMenu"> 
        <button mat-menu-item>Industry Primers</button> 
        <button mat-menu-item>Blog</button> 
        <button mat-menu-item>AI Lab</button>
        <button mat-menu-item [matMenuTriggerFor]="Customer_menu">Customer Hub</button>
        <mat-menu #Customer_menu="matMenu"> 
          <button mat-menu-item>Success Stories/Case Studies</button> 
          <button mat-menu-item>Testimonials</button> 
        </mat-menu> 
        <button mat-menu-item>Podcasts, webinars and videos</button>
        <button mat-menu-item>Events & news</button>
      </mat-menu> 

      <button mat-button [matMenuTriggerFor]="About_menu"> 
        About Us
      </button> 
      
      <mat-menu #About_menu="matMenu"> 
        <button mat-menu-item>Our story</button> 
        <button mat-menu-item>Leadership</button> 
        <button mat-menu-item>Board</button> 
        <button mat-menu-item>Compliance</button> 
        <button mat-menu-item>Work @i2e</button> 
        <button mat-menu-item>Contact us</button> 
      </mat-menu> 
   
  </div>
</div>