.nav {
  // background-color: red;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .logo {
    width: 20%;
    padding-left: 2rem;
    img{
      width: 19%;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    width: 45%;
    padding-right: 2rem;
    button{
      // border: 1px solid grey;
    }
  }
}

.mat-menu-panel {
  right: 0 !important; 
}