.parent{
  height: 100vh;
  .nav{
    // background-color: goldenrod;
    height: 8vh;
  }
  .main{
    // background-color: gray;
    height: 86vh;
    overflow-y: auto;
  }
  .foot{
    //  background-color: lightcoral;
    height: 8vh;
  }

}