.parent{
  height: 100vh;
  .nav{
    // background-color: goldenrod;
    height: 24vh;
  }
  .main{
    // background-color: gray;
    height: 68vh;
  }
  .foot{
    // background-color: lightcoral;
    height: 8vh;
  }

}